RESEND_API_KEY=sua_chave_aqui
REPORT_RECIPIENT_EMAIL=comercial@alienxip.com.br
RESEND_FROM_EMAIL=Diagnostico <diagnostico@alienxip.com.br>
NEXT_PUBLIC_DIAGNOSTIC_URL=https://alienxip.com.br/diagnostico
